* {
  opacity: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  list-style: none;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 100%;
  border-left: 2px solid #9619fa;
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #9619fa;
}

html,
body {
  height: 100%;
}

.section {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 0px solid red;
  height: 100vh;
}

.container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}

.section-title {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 20px;
}

@media (max-width: 550px) {
  .section-title {
    font-size: 16px;
  }
}
@media (max-width: 430px) {
  .section-title {
    font-size: 14px;
  }
}
.wrapper {
  width: 100%;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.background {
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: fixed;
  background: url(../image/background.jpg) 0 0/100% 100% no-repeat;
}

.header {
  transition: 1000ms;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 50px;
  opacity: 1;
  background-color: rgba(34, 34, 34, 0.2);
}
.header__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header__title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.header__link {
  position: relative;
  cursor: pointer;
}
.header__link:hover {
  color: #9619fa;
}
.header__link::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0%;
  height: 1.5px;
  background-color: #9619fa;
  transition: 300ms;
}
.header__link:hover.header__link::after {
  width: 100%;
  transition: 300ms;
}

@media (max-width: 768px) {
  .header__title {
    font-size: 16px;
  }
  .header__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .header__title {
    font-size: 12px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    gap: 6px;
  }
}
@media (max-width: 430px) {
  .header__title {
    font-size: 10px;
  }
  .header__menu {
    display: flex;
    justify-content: start;
    gap: 6px;
  }
}
.header:hover {
  background-color: rgba(34, 34, 34, 0.8);
  transition: 300ms;
}

.description__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.description__block {
  display: flex;
  justify-content: center;
}
.description__title {
  margin-bottom: 10px;
}
.description__text {
  width: 90%;
  font-size: 12px;
  text-align: center;
}
.description__img {
  width: 500px;
  height: 300px;
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media (max-width: 550px) {
  .description__img {
    width: 400px;
    height: 240px;
  }
  .description__text {
    font-size: 10px;
  }
}
@media (max-width: 430px) {
  .description__img {
    width: 300px;
    height: 180px;
  }
  .description__text {
    font-size: 10px;
  }
}
.keys__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.keys__canvas {
  display: flex;
  align-items: center;
  justify-content: center;
}
.keys__blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.keys__block {
  width: 200px;
  height: 300px;
}
.keys__summary {
  background-color: #303030;
  cursor: pointer;
  position: relative;
  top: -4px;
  height: 20px;
}
.keys__summary:hover {
  background-color: #9619fa;
}
.keys__block-img {
  width: 200px;
  height: 200px;
}
.keys__block-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .keys__block {
    width: 160px;
    height: 240px;
  }
  .keys__block-img {
    width: 160px;
    height: 160px;
  }
  .keys__block-title {
    font-size: 10px;
  }
  .keys__block-description {
    font-size: 8px;
  }
}
@media (max-width: 430px) {
  .keys__block {
    width: 120px;
    height: 180px;
  }
  .keys__block-img {
    width: 120px;
    height: 120px;
  }
  .keys__block-description {
    font-size: 6px;
  }
}
.team__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team__blocks {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.team__block {
  width: 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px repeat(2, 30px);
  background-color: rgba(34, 34, 34, 0.2);
  transition: 500ms;
}
.team__block:hover {
  background-color: rgba(34, 34, 34, 0.8);
  transform: scale(1.3);
  transition: 500ms;
}
.team__img {
  width: 100px;
  height: 100px;
}
.team__title {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 2px;
  align-items: center;
}

@media (max-width: 550px) {
  .team__blocks {
    width: 100%;
    gap: 8px;
  }
  .team__block {
    width: 60px;
    grid-template-rows: 60px repeat(2, 20px);
  }
  .team__title {
    font-size: 6px;
    height: 100%;
  }
  .team__img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 430px) {
  .team__blocks {
    width: 100%;
    gap: 4px;
  }
  .team__block {
    width: 50px;
    grid-template-rows: 50px repeat(2, 20px);
  }
  .team__title {
    font-size: 6px;
    height: 100%;
  }
  .team__img {
    width: 50px;
    height: 50px;
  }
}
.contacts__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: flex-start;
}
.contacts__blocks {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.contacts__block {
  width: 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px repeat(4, 30px);
  transition: 500ms;
  background-color: rgba(34, 34, 34, 0.2);
  padding-bottom: 4px;
}
.contacts__img {
  width: 100px;
  height: 100px;
  transition: 500ms;
}
.contacts__block:hover {
  transform: scale(1.3);
  transition: 500ms;
  background-color: rgba(34, 34, 34, 0.8);
}
.contacts__title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}
.contacts__title-interactive::after {
  content: "";
  width: 0%;
  height: 1.5px;
  background-color: #9619fa;
  position: absolute;
  bottom: 0;
  transition: 300ms;
}
.contacts__title-interactive:hover.contacts__title-interactive::after {
  width: 90%;
  transition: 300ms;
}
.contacts__phone, .contacts__gmail {
  width: 210px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 4px;
  color: #9619fa;
  border-bottom: 1.5px solid #303030;
  transition: 500ms;
}
.contacts__phone:hover, .contacts__gmail:hover {
  border-bottom: 1.5px solid #9619fa;
  transform: scale(1.3);
  transition: 500ms;
}

@media (max-width: 550px) {
  .contacts__blocks {
    gap: 10px;
  }
  .contacts__block {
    width: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px repeat(4, 20px);
    transition: 500ms;
    background-color: rgba(34, 34, 34, 0.2);
    padding-bottom: 2px;
  }
  .contacts__img {
    width: 60px;
    height: 60px;
    transition: 500ms;
  }
  .contacts__title, .contacts__title a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    font-size: 6px;
  }
  .contacts__phone, .contacts__gmail {
    width: 130px;
    height: 30px;
    font-size: 8px;
  }
  .contacts__gmail {
    margin-bottom: -30px;
  }
  .contacts__text {
    font-size: 6px;
  }
}
.location__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.location__map {
  width: 700px;
  height: 350px;
  border: 4px solid #303030;
  opacity: 0.9;
  transition: 500ms;
  box-sizing: content-box;
}
.location__map:hover {
  transition: 500ms;
  opacity: 1;
  border: 4px solid #9619fa;
}
.location__text {
  font-size: 14px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .location__map {
    width: 90%;
  }
  .location__text {
    font-size: 10px;
  }
}
.footer {
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: 10;
  bottom: 0;
  transition: 300ms;
  background-color: rgba(34, 34, 34, 0.2);
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 530px) {
  .footer {
    height: 50px;
  }
  .footer__text {
    font-size: 8px;
  }
}
.footer:hover {
  background-color: rgba(34, 34, 34, 0.8);
  transition: 300ms;
}/*# sourceMappingURL=style.css.map */